@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Oswald:wght@500&family=Roboto+Slab&display=swap');

:root {
    --base-background: #121212;
    --background-highlight: #1a1a1a;
    --base-font-family: 'Montserrat', sans-serif;
    --subtext-color: #a7a7a7;
    --icon-color: invert(73%) sepia(1%) saturate(3%) hue-rotate(21deg) brightness(93%) contrast(89%);
    --active-icon-color: invert(1) hue-rotate(0deg) saturate(0%) brightness(100%);
    --card-color: #181818;
    --card-hover-color: #272727;
    --green-button-color: #1ed760;
    --green-hover-button-color: #6FE89C;
    --columns: 6;
    --main-color: rgba(0, 0, 0, .5);
}

body {
    background-color: black;
}

body::-webkit-scrollbar {
    display: none;
}

[data-title] {
    position: relative;
}

[data-title]::after {
    background-color: rgb(21, 21, 21);
    font-size: 0.815rem;
    transition: 0.3s;
    content: attr(data-title);
    padding: 0.25rem;
    position: absolute;
    bottom: -100%;
    left: -100%;
    color: #fff;
    border-radius: 0.25rem;
    font-family: var(--base-font-family);
    box-shadow: 2px 2px 2px black;
    opacity: 0;
    z-index: 100;
}

[data-title]:hover::after {
    opacity: 1;
}

#app {
    background-color: black;
    height: 100vh;
    min-height: 100vh;
    display: grid;
    padding: 0.5rem;
    box-sizing: border-box;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 'sidebar main'
        'preview preview';
    gap: 0.5rem;
}

img {
    transition: all linear 5s;
}

/* -----------side bar style----------- */
.side-bar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

#resizer {
    width: 0.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -0.25rem;
}

.resizer-line {
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    left: 0.25rem;
    cursor: col-resize;
}

#resizer:hover {
    cursor: col-resize;
}

#resizer:hover .resizer-line {
    background-color: hsla(0, 0%, 100%, .3);
}

/* sidebar top item style */
.sidebar-first-item {
    background-color: var(--base-background);
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
}

.top-logo {
    display: flex;
}

.top-logo a {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    padding: 0rem 0.75rem;
}

.sidebar-first-item ul li {
    list-style-type: none;
    padding: 0.25rem 0.75rem;
    box-sizing: border-box;
}

.sidebar-first-item ul li a {
    height: 2.5rem;
    display: flex;
    gap: 1.25rem;
    align-items: center;
    text-decoration: none;
    color: var(--subtext-color);
    font-family: var(--base-font-family);
    font-weight: 600;
}

.sidebar-first-item ul li a.active {
    color: #fff;
}

.sidebar-first-item ul li a img {
    filter: var(--icon-color);
    transition: 350ms;
}

.sidebar-first-item ul li a.active img {
    filter: var(--active-icon-color);
}

.sidebar-first-item ul li a:hover {
    color: #fff;
}

.sidebar-first-item ul li a:hover img {
    filter: var(--active-icon-color);
}

/*sidebar bottome item style*/
.sidebar-second-item {
    background-color: var(--base-background);
    flex-grow: 1;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.library {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.library-header {
    box-shadow: 0rem 0.25rem 0.5rem var(--base-background);
    z-index: 4;
}

.library-header header {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collapse-btn {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.25rem 0.5rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: var(--subtext-color);
    font-size: 1rem;
    font-family: var(--base-font-family);
    font-weight: 600;
    box-sizing: content-box;
    cursor: pointer;
}

.collapse-btn>img {
    filter: var(--icon-color);
}

.collapse-btn:hover {
    color: #fff;
}

.collapse-btn:hover img {
    filter: var(--active-icon-color);
}

.add-playlist-btn {
    display: flex;
    background-color: var(--base-background);
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
}

.add-playlist-btn img {
    filter: var(--icon-color);
}

.add-playlist-btn:hover {
    background-color: var(--background-highlight);
    cursor: pointer;
}

.add-playlist-btn:hover img {
    filter: var(--active-icon-color);
}

.library-body {
    overflow-y: scroll;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: calc(100vh - 540px);
    min-height: 96px;
}

.library-body::-webkit-scrollbar {
    width: 0.75rem;
    position: absolute;
}

.library-body::-webkit-scrollbar-track {
    background: transparent;
}

.library-body::-webkit-scrollbar-thumb {
    background: transparent;
    transition: 350ms;
}

.library-body:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
}

.library-body::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6)
}


.library-item {
    background-color: #242424;
    margin: 0.5rem 0rem;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.library-item p {
    color: #fff;
    font-weight: 600;
    font-family: var(--base-font-family);
    line-height: 2;
}

.library-item p:nth-of-type(1) {
    font-size: 1rem;
}

.library-item p:nth-of-type(2) {
    font-size: 0.75rem;
}

.library-item button {
    padding: 0.25rem 1rem;
    font-family: var(--base-font-family);
    font-weight: 600;
    background-color: #fff;
    border: none;
    height: 2rem;
    width: fit-content;
    border-radius: 1.25rem;
    cursor: pointer;
}

.library-item button:hover {
    transform: scale(1.05);
}

.sidebar-legal-links {
    margin: 2rem 0rem;
    padding: 0rem 1.5rem;
}

.sidebar-legal-links ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.sidebar-legal-links a {
    display: flex;
    align-items: center;
    color: var(--subtext-color);
    text-decoration: none;
    margin-right: 1rem;
    height: 2rem;
    font-family: var(--base-font-family);
    font-size: 0.625rem;
}

.sidebar-legal-links>a:hover {
    text-decoration: underline;
}

.language-button-container {
    padding: 0rem 1.5rem;
    margin-bottom: 2rem;
}

.language-button-container button {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    background-color: black;
    border: 1px var(--subtext-color) solid;
    border-radius: 20px;
    color: white;
    padding: 0.25rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
}

.language-button-container button:hover {
    border: 1px white solid;
    transform: scale(1.05);
}

.language-button-container button img {
    filter: var(--active-icon-color);
}


/* -----------main view style------------ */
.main-view-container {
    background-color: transparent;
    grid-area: main;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0.5rem;
    position: relative;
    isolation: isolate;
}

.main-view-container::-webkit-scrollbar {
    display: none;
}

/* .main-view-container::-webkit-scrollbar-track {
    background: var(--base-background);
}

.main-view-container::-webkit-scrollbar-thumb {
    background: transparent;
    border: 4px solid rgba(0, 0, 0, 0);
}

.main-view-container:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

.main-view-container::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
} */

/* topbar style */
.topbar {
    grid-area: main;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    height: 4rem;
    width: 100%;
    min-width: 496px;
    box-sizing: border-box;
    position: relative;
}

.topbar-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    z-index: -1;
    border-radius: 0.5rem 0.5rem 0 0;
    transition: opacity 0.5s;
}

.topbar-content {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: opacity 0.5s;
    opacity: 0;
}

.topbar-content button {
    display: flex;
    background-color: var(--green-button-color);
    border-radius: 50%;
    border: none;
    padding: 0.75rem;
}

.topbar-content button:hover {
    transform: scale(1.05);
    background-color: var(--green-hover-button-color);
}

.topbar-content h2 {
    font-family: var(--base-font-family);
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
}

/*logged in style*/

.user-and-install {
    display: flex;
    gap: 0.5rem;
}

.user-and-install button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    border-radius: 1.5rem;
    font-family: var(--base-font-family);
    font-weight: 600;
}

.user-and-install button:nth-child(1) {
    padding: 0.25rem 1rem;
}

.user-and-install button:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 0.25rem 1rem;
}

.user-and-install button:nth-child(2) img {
    filter: var(--active-icon-color);
}

.user-and-install button:nth-child(3) {
    display: flex;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
}

.user-and-install button:nth-child(3) img {
    filter: var(--icon-color);
}

.user-and-install img {
    width: 1rem;
    height: auto;
}

.user-and-install>div {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: purple;
}

.next-prev-btn-container {
    display: flex;
    gap: 0.5rem;
}

.next-prev-btn-container button {
    display: flex;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}

.next-prev-btn-container button img {
    filter: var(--icon-color);
}

.signup-and-login button {
    font-family: var(--base-font-family);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.signup-and-login button:nth-of-type(1) {
    background-color: transparent;
    color: var(--subtext-color);
    border: none;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
}

.signup-and-login button:nth-of-type(1):hover {
    color: #fff;
    transform: scale(1.05);
}

.signup-and-login button:nth-of-type(2) {
    height: 3rem;
    border: none;
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
}

.signup-and-login button:nth-of-type(2):hover {
    transform: scale(1.05);
}

/*home page background*/
.background-image {
    grid-area: main;
    width: 100%;
    height: auto;
    background-image: url(../img/cover/playlists/Today-top-hits.jpg);
    background-size: cover;
    background-position-y: -6rem;
    border-radius: 0.5rem;
}

.background-image>div {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.5;
    border-radius: 0.5rem;
}

/*home page style*/

.home-page {
    background-color: var(--base-background);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4.5rem 0.5rem 0rem 1.5rem;
    position: relative;
    isolation: isolate;
}

.home-page>div:nth-child(1) {
    width: 100%;
    height: 50vh;
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, .6) 0, var(--base-background) 100%);
    background-color: rgb(176, 32, 40);
    margin-left: -1.5rem;
    margin-top: -4.5rem;
    transition: 1s;
}

.good-morning {
    margin-bottom: 1rem;
}

.good-morning h2 {
    color: #fff;
    font-size: 2rem;
    font-family: var(--base-font-family);
    font-weight: 700;
    margin-bottom: 1rem;
}

.recommended-list {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.recommended-list .item {
    display: flex;
    border-radius: 0.25rem;
    background-color: hsla(0, 0%, 100%, .1);
    transition: .3s;
}

.recommended-list .item:hover {
    background-color: hsla(0, 0%, 100%, .2);
}

.recommended-list .item>img {
    width: 4rem;
    border-radius: 0.25rem 0 0 0.25rem;
    box-shadow: 2px 0 0.25rem rgba(0, 0, 0, 0.7)
}

.recommended-list .item .right {
    flex: 1;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--base-font-family);
    font-weight: 600;
    font-size: 0.875rem;
    color: #fff;
}

.recommended-list .item .right button {
    display: flex;
    border: none;
    background-color: var(--green-button-color);
    border-radius: 50%;
    padding: 0.5rem;
    transition: opacity .3s;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.recommended-list .item:hover .right button {
    opacity: 1;
}

.lists {
    margin-bottom: 1rem;
}

.lists-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.lists-title a,
.lists-title h2 {
    text-decoration: none;
    font-family: var(--base-font-family);
}

.lists-title a:hover {
    text-decoration: underline;
}

.lists-title a:nth-of-type(1),
.lists-title h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

.lists-title a:nth-of-type(2) {
    font-size: 0.825rem;
    font-weight: 600;
    color: var(--subtext-color);
}

.content-heading {
    padding: 0 1.5rem 1.5rem 1.5rem;
    height: 40vh;
    background-color: transparent;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    font-family: var(--base-font-family);
}

.content-heading h6,
.content-heading p {
    font-size: 0.875rem;
    font-weight: 600;
}

.content-heading h6 {
    color: #fff;
}

.content-heading>p {
    color: rgba(255, 255, 255, .8);
}

.content-heading h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
}

.content-heading>div {
    display: flex;
    align-items: center;
    color: #fff
}

.content-heading>div>img {
    width: 1.5rem;
    height: auto;
}

/* main content */

.main-content {
    background-color: var(--base-background);
    position: relative;
    isolation: isolate;
}

.main-content>div:nth-child(1) {
    height: 232px;
    background-color: #75939F;
    background-image: linear-gradient(rgba(0, 0, 0, .6) 0, var(--base-background) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.action-bar {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.action-bar button {
    display: flex;
    border: none;
}

.action-bar button:nth-of-type(1) {
    padding: 1rem;
    background-color: var(--green-button-color);
    border-radius: 50%;
}

.action-bar button:nth-of-type(1):hover {
    transform: scale(1.05);
    background-color: var(--green-hover-button-color);
}

.action-bar button:nth-last-of-type(-n+2) {
    background-color: transparent;
    filter: var(--icon-color);
}

.action-bar button:nth-last-of-type(-n+2):hover {
    filter: var(--active-icon-color);
}

.list-of-tracks {
    padding: 0 1.5rem;
}

.track {
    display: grid;
    padding: 0 1rem;
    grid-template-columns: 1rem 6fr 4fr 3fr [last] minmax(120px, 1fr);
    grid-gap: 1rem;
    align-items: center;
    color: var(--subtext-color);
    font-family: var(--base-font-family);
    font-size: 0.875rem;
    font-weight: 500;
    height: 56px;
    border-radius: 0.25rem;
}

.track:hover {
    background-color: rgba(255, 255, 255, .1);
}

.track:hover a,
.track:focus a {
    color: #fff;
}

.track:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

.track a {
    text-decoration: none;
    color: var(--subtext-color);
    width: fit-content;
}

.track a:hover {
    text-decoration: underline;
}

.track-header {
    padding: 0 1.5rem;
    top: 4rem;
    position: sticky;
    margin-bottom: 0.75rem;
    z-index: 2;
}

.track-header .track {
    height: 2.25rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    pointer-events: none;
    font-weight: 600;
}

.track-header .track>h6:nth-of-type(5) {
    justify-self: end;
}

.track-header .track>h6>img {
    margin-right: 2rem;
}

.track-header img {
    filter: var(--icon-color);
}

.track-play {
    position: relative;
    text-align: center
}

.track-play span {
    opacity: 1;
}

.track-play button {
    background-color: transparent;
    display: flex;
    padding: 0;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.track-play button>img {
    width: 1rem;
    height: auto;
    filter: var(--active-icon-color);
}

.track:hover .track-play span,
.track:focus .track-play span {
    opacity: 0;
}

.track:hover .track-play button,
.track:focus .track-play button {
    opacity: 1;
}

.track:hover .last-cell button,
.track:focus .last-cell button {
    opacity: 1;
}

.song {
    display: flex;
    align-items: stretch;
    gap: 1rem;
}

.song>img {
    width: 40px;
}

.song>div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.song>div>a:nth-child(1) {
    color: #fff;
    font-weight: 500;
}

.song>div>a:nth-child(2) {
    font-size: 0.815rem;
}

.last-cell {
    display: flex;
    align-items: center;
    grid-column: 5;
    justify-self: end;
}

.last-cell button {
    display: flex;
    padding: 0.5rem 0;
    background-color: transparent;
    border: none;
    opacity: 0;
}

.last-cell>span {
    width: 3rem;
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
}

.last-cell button:nth-of-type(1) {
    filter: var(--icon-color);
    margin-right: 1rem;
}

.last-cell button:nth-of-type(2) {
    filter: var(--active-icon-color);
}

.last-cell button img {
    width: 1rem;
}

.last-cell button:hover {
    filter: var(--active-icon-color);
}

/*card style*/
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: auto;
    gap: 1.5rem;
}

.card {
    padding: 1rem;
    background-color: var(--card-color);
    border-radius: 0.325rem;
    transition: 350ms;
    cursor: pointer;
}

.card:hover {
    background-color: var(--card-hover-color);
}

.card-cover {
    position: relative;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

.card-cover>div {
    position: relative;
    padding-bottom: 100%;
}

.card-cover>div>img {
    border-radius: 0.25rem;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.card-cover button {
    display: flex;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    background-color: var(--green-button-color);
    transition: 300ms;
    padding: 0.75rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0rem;
    opacity: 0;
    z-index: 2;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
}

.card:hover button {
    transform: translateY(-0.5rem);
    opacity: 1;
}

.card button:hover {
    background-color: var(--green-hover-button-color);
}

.card-content {
    font-family: var(--base-font-family);
    font-size: 0.875rem;
}

.card-content h2 {
    color: #fff;
    font-weight: 700;
    padding-bottom: 0.25rem;
}

.card-content p {
    line-height: 1.6;
    color: var(--subtext-color);
    font-weight: 500;
}

/* homepage footer style */
.home-page-footer {
    padding: 5rem 1rem 3rem 2rem;
    background-color: var(--base-background);
    z-index: 5;
    position: relative;
}

.top-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-links {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50%;
}

.top-links ul {
    list-style-type: none;
    font-family: var(--base-font-family);
    margin: 0 1.5rem 2rem 0;
    min-width: 185px;
}

.top-links li {
    margin: 0.5rem 0;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
}

.top-links li p {
    color: #fff;
    font-weight: 600;
}

.top-links li a {
    text-decoration: none;
    color: var(--subtext-color);
    font-weight: 600;
}

.top-links li a:hover {
    color: #fff;
    text-decoration: underline;
}

.social-links {
    display: flex;
    gap: 1rem;
    align-items: start;
}

.social-links button {
    display: flex;
    padding: 0.75rem;
    border: none;
    border-radius: 50%;
    background-color: rgb(41, 41, 41);
}

.social-links button:hover {
    background-color: #727272;
}

.social-links button img {
    width: 1rem;
    height: 1rem;
    filter: var(--active-icon-color);
}

.home-page-footer hr {
    size: 1px;
    border-color: rgba(255, 255, 255, .1);
    margin-bottom: 1.5rem;
}

.bottom-section {
    padding-top: 1rem;
    font-family: var(--base-font-family);
    color: var(--subtext-color);
    font-size: 0.875rem;
    font-weight: 600;
}

/*----------preview style (footer)-----------*/
.preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: preview;
    padding: 11px 24px 7px 15px;
    background-image: linear-gradient(to right, #ae2896, #509bf5);
    cursor: pointer;
}

.preview button {
    height: 48px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    background-color: white;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    font-family: var(--base-font-family);
    cursor: pointer;
}

.preview button:hover {
    transform: scale(1.1);
}

.preview-content {
    color: white;
    margin-bottom: 4px;
    font-family: 'Montserrat', sans-serif;
}

.preview-content p {
    font-size: 0.8rem;
    font-weight: 600;
}

.preview-content h6 {
    font-size: 0.8rem;
    margin-bottom: 8px;
}

/* playing bar */
.now-playing-bar {
    grid-area: preview;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.playing-track {
    display: flex;
    align-items: center;
    width: 30%;
    padding-left: 0.5rem;
}

.track-cover {
    margin-right: 0.5rem;
}

.track-cover img {
    width: 3.5rem;
    height: auto;
    border-radius: 0.25rem;
}

.track-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: var(--base-font-family);
    font-size: 0.75rem;
    margin: 0 0.5rem;
}

.track-info span:nth-child(1) {
    color: #fff;
    font-weight: 600;
}

.track-info span:nth-child(2) {
    color: var(--subtext-color);
    font-weight: 500;
}

.playing-track>button {
    background-color: transparent;
    border: none;
    display: flex;
    padding: 0.5rem;
}

.playing-track>button img {
    width: 1rem;
    height: auto;
    filter: var(--icon-color);
}

.player-controls {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.control-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.control-buttons button {
    display: flex;
    padding: 0.5rem;
    border: none;
}

.control-buttons button:hover {
    transform: scale(1.1);
}

.control-buttons button img {
    width: 1rem;
}

.control-buttons button:nth-child(2) {
    border-radius: 50%;
}

.control-buttons button:nth-child(1),
.control-buttons button:nth-child(3) {
    background-color: transparent;
    filter: var(--icon-color);
}

.control-buttons button:nth-child(1):hover,
.control-buttons button:nth-child(3):hover {
    filter: var(--active-icon-color);
}

.playback-bar {
    display: flex;
    gap: 0.5rem;
}

.playback-bar>div {
    flex: 1;
    background-color: hsla(0, 0%, 100%, .3);
    height: 0.25rem;
    border-radius: 0.25rem;
}

.playback-bar>span {
    font-family: var(--base-font-family);
    color: var(--subtext-color);
    font-size: 0.75rem;
    padding: 0 0.5rem;
}

.extra-buttons {
    justify-content: flex-end;
    width: 30%;
    display: flex;
}

.extra-buttons button {
    border: none;
    background-color: transparent;
    display: flex;
    padding: 0.5rem;
}

.extra-buttons button img {
    width: 1rem;
    filter: var(--icon-color);
}

.extra-buttons button:hover img {
    filter: var(--active-icon-color);
}

.volumn-adjust {
    display: flex;
    width: 60%;
    align-items: center;
}

#volumn-bar {
    background-color: hsla(0, 0%, 100%, .3);
    height: 0.25rem;
    width: 50%;
}

.slider {
    background-color: #fff;
    border-radius: 0.25rem;
    width: 0;
    height: 100%;
    transition: .2s;
    position: relative;
}

.slider-bar:hover .slider {
    background-color: var(--green-button-color);
}

.thumb {
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}